.wrapper {
  position: relative;
  width: 100%;
  text-align: initial;
}

.wrapper textarea {
  border: none;
  resize: none;
  padding: 20px;
}

.wrapper button {
  height: 40px;
  border-radius: 4px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: none;
}

.wrapper .btn-add {
  background: #003594;
}

.wrapper .btn-cancel {
  background: #667D85;
}

.wrapper .modal-container {
  display: none;
  position: absolute;
  top: calc(100vh - 50%);
  left: calc(100vw - 50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .modal-container.show {
  display: block;
}

.wrapper .modal-container .modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.wrapper .modal-container .modal-content .btn-ic-close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 26px;
  height: 26px;
}

.wrapper .modal-container .modal-content .modal-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .modal-container .modal-content .btn-modal-confirm {
  cursor: pointer;
  width: 100%;
  height: 60px;
  background: #003594;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.wrapper .quick-menu {
  position: fixed;
  top: 300px;
  right: 100px;
  width: 120px;
  height: 540px;
  z-index: 100;
  background: url(../images/Quick_Menu.png);
  padding-top: 130px;
}

.wrapper .quick-menu ul li {
  font-size: 0;
  cursor: pointer;
}

.wrapper .quick-menu ul li:nth-child(1) {
  height: 115px;
}

.wrapper .quick-menu ul li:nth-child(2) {
  height: 120px;
}

.wrapper .quick-menu ul li:nth-child(3) {
  height: 100px;
}

.wrapper .quick-menu ul li:nth-child(4) {
  height: 72px;
}

.wrapper .sort-box {
  position: relative;
  width: 225px;
  margin-bottom: 30px;
}

.wrapper .sort-box .selected {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  height: 50px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

.wrapper .sort-box .selected .ic-arrow {
  content: url(../images/ic_arrow_d.png);
  width: 17px;
  height: 10px;
}

.wrapper .sort-box ul.optionList {
  position: absolute;
  display: none;
  top: calc(100% + 6px);
  width: 100%;
  background: #fff;
}

.wrapper .sort-box.open .selected {
  cursor: pointer;
}

.wrapper .sort-box.open .selected .ic-arrow {
  content: url(../images/ic_arrow_u.png);
  width: 17px;
  height: 10px;
}

.wrapper .sort-box.open ul.optionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #E0DFDF;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.wrapper .sort-box.open ul.optionList li.optionItem {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9B9C9D;
}

.wrapper .sort-box.open ul.optionList li.optionItem.sel {
  background: #f3f3f3;
  color: #464646;
}

.wrapper .sort-box.open ul.optionList li.optionItem.sel::before {
  content: url(../images/ic_check.png);
  margin-right: 10px;
}

.wrapper .search-wrap {
  margin: 80px 0;
}

.wrapper .search-wrap .search-box {
  margin: 0 auto;
  width: 800px;
  height: 80px;
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  padding: 0 40px;
  border: 1px solid #f3f3f3;
}

.wrapper .search-wrap .search-box > input[type=text] {
  border: none;
  width: 680px;
  font-size: 20px;
  background: transparent;
}

.wrapper .search-wrap .search-box > input[type=text]::-webkit-input-placeholder {
  color: #C1C1C1;
}

.wrapper .search-wrap .search-box > input[type=text]:-ms-input-placeholder {
  color: #C1C1C1;
}

.wrapper .search-wrap .search-box > input[type=text]::-ms-input-placeholder {
  color: #C1C1C1;
}

.wrapper .search-wrap .search-box > input[type=text]::placeholder {
  color: #C1C1C1;
}

.wrapper .search-wrap .search-box .btn-input-delete {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: #F3F3F3;
  border-radius: 40px;
  border: none;
  margin-right: 12px;
}

.wrapper .search-wrap .search-word {
  width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  display: none;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .search-wrap .search-word.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .search-wrap .search-word .word-item {
  cursor: pointer;
  width: 104px;
  height: 31px;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9B9C9D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .search-wrap .search-result {
  width: 1400px;
  margin: 80px auto;
  display: none;
}

.wrapper .search-wrap .search-result.on {
  display: block;
}

.wrapper .search-wrap .search-result .result-count {
  display: none;
  width: 800px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;
  color: #464646;
}

.wrapper .search-wrap .search-result .result-count.on {
  display: block;
}

.wrapper .search-wrap .search-result .result-count > span {
  color: #F83C4A;
}

.wrapper .search-wrap .search-result .no-data {
  display: none;
  margin: 120px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #9B9C9D;
}

.wrapper .search-wrap .search-result .no-data.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .search-wrap .search-result .result-list {
  display: none;
  margin-top: 80px;
}

.wrapper .search-wrap .search-result .result-list.on {
  display: block;
}

.wrapper .search-wrap .search-result .result-list .grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.wrapper .search-wrap .search-result .result-list .grid-box .grid-item {
  cursor: pointer;
}

.wrapper .thumnbnail {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.wrapper .thumnbnail .img-box {
  width: 307px;
  height: 200px;
  overflow: hidden;
}

.wrapper .thumnbnail .desc-box > .title {
  margin-top: 30px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.wrapper .thumnbnail .desc-box .count-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  margin-bottom: 6px;
}

.wrapper .thumnbnail .desc-box .count-line li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.wrapper .thumnbnail .desc-box .type-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.wrapper .thumnbnail .desc-box .type-wrap .btn-type {
  padding: 8px 12px;
  height: 33px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.wrapper .thumnbnail .desc-box .type-wrap .type2 {
  color: #464646;
  background: #D9D9D9;
}

.wrapper table.aice-table {
  width: 100%;
}

.wrapper table.aice-table thead {
  height: 50px;
  background-color: #F3F3F3;
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

.wrapper table.aice-table thead tr th {
  border-top: 1px solid #464646;
  border-bottom: 1px solid #ddd;
  height: 50px;
  vertical-align: middle;
}

.wrapper table.aice-table tbody tr {
  height: 50px;
}

.wrapper table.aice-table tbody tr td {
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  color: #464646;
  background: #fff;
}

.wrapper table.aice-table tbody tr.selected td {
  background: #F3F3F3;
}

.wrapper ul.pagination {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #9B9C9D;
}

.wrapper ul.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 39px;
  text-decoration: none;
}

.wrapper ul.pagination li a.active {
  border-radius: 4px;
  color: #fff;
  background: #003594;
}

.wrapper details > summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.wrapper details > summary .ic-open-arrow {
  content: url(../images/ic_open_arrow.png);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.wrapper details[open] > summary .ic-open-arrow {
  content: url(../images/ic_close_arrow.png);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.wrapper .h-seperator {
  height: 1px;
  background: #ddd;
}

.wrapper .circle_progress_wrap {
  position: relative;
  width: 50px;
  height: 50px;
}

.wrapper .circle_progress_wrap .circle_progress {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.wrapper .circle_progress_wrap .frame, .wrapper .circle_progress_wrap .bar {
  fill: none;
}

.wrapper .circle_progress_wrap .frame {
  stroke: #C1C1C1;
}

.wrapper .circle_progress_wrap .bar {
  stroke: #003594;
  stroke-linecap: round;
}

.wrapper .circle_progress_wrap .num {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #9B9C9D;
}

.wrapper .circle_progress_wrap .num.on {
  color: #003594;
}

.ic-close {
  content: url(../images/ic_close.png);
  width: 26px;
  height: 26px;
}

.ic-edit {
  content: url(../images/ic_edit.png);
  width: 24px;
  height: 24px;
}

.ic-trash {
  content: url(../images/ic_trash.png);
  width: 24px;
  height: 24px;
}

.ic-delete {
  content: url(../images/ic_delete.png);
  width: 18px;
  height: 18px;
}

.ic-error {
  content: url(../images/ic_error.png);
  width: 64px;
  height: 64px;
}

.ic-search {
  content: url(../images/ic_search.png);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ic-search.sel {
  content: url(../images/ic_search_s.png);
}

.ic-person {
  content: url(../images/ic_person.png);
  width: 14px;
  height: 15px;
}

.ic-heart {
  content: url(../images/ic_heart.png);
  width: 16px;
  height: 15px;
}

.ic-comment {
  content: url(../images/ic_comment.png);
  width: 16px;
  height: 17px;
}

.ic-more {
  content: url(../images/ic_more.png);
  width: 32px;
  height: 32px;
}

.ic-attach {
  content: url(../images/ic_attach.png);
  width: 20px;
  height: 20px;
}

.ic-page-start {
  content: url(../images/ic_page_end_n.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
}

.ic-page-prev {
  content: url(../images/ic_page_next_n.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
}

.ic-page-next {
  content: url(../images/ic_page_next_n.png);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
}

.ic-page-end {
  content: url(../images/ic_page_end_n.png);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
}

.ic-detail-menu1 {
  content: url(../images/ic_detail_menu1_n.png);
  width: 26px;
  height: 26px;
}

.ic-detail-menu1.active {
  content: url(../images/ic_detail_menu1_s.png);
}

.ic-detail-menu2 {
  content: url(../images/ic_detail_menu2_n.png);
  width: 26px;
  height: 26px;
}

.ic-detail-menu2.active {
  content: url(../images/ic_detail_menu2_s.png);
}

.ic-detail-menu3 {
  content: url(../images/ic_detail_menu3_n.png);
  width: 26px;
  height: 26px;
}

.ic-detail-menu3.active {
  content: url(../images/ic_detail_menu3_s.png);
}

.ic-recomment {
  content: url(../images/ic_recomment.png);
  width: 26px;
  height: 26px;
}

.img-banner {
  content: url(../images/section2.png);
  width: 657px;
  height: 283px;
}

.bg-green {
  background: #70AD47;
}

.bg-blue {
  background: #00B0F0;
}

.bg-purple {
  background: #7030A0;
}

.bg-red {
  background: #F30404;
}

.bg-yel {
  background: #FFFF00;
}

.cl-gray3 {
  color: #464646 !important;
}

.main .intro .catg-cont-wrap {
  background: #003594;
}

.main .intro .catg-cont-wrap .catg-content {
  height: 500px;
  width: 1400px;
  margin: 0 auto;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .intro .catg-cont-wrap .catg-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .intro .catg-cont-wrap .catg-content .catg-desc {
  margin-top: 96px;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.main .intro .catg-cont-wrap .catg-content .catg-desc .catg-title {
  font-size: 45px;
  line-height: 140%;
  margin-bottom: 12px;
}

.main .intro .catg-cont-wrap .catg-content .catg-desc .catg-txt1 {
  font-size: 25px;
  line-height: 150%;
  margin-bottom: 14px;
  white-space: nowrap;
}

.main .intro .catg-cont-wrap .catg-content .catg-desc .catg-txt2 {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 20px;
}

.main .intro .catg-cont-wrap .catg-content .catg-desc .btn-more {
  font-size: 20px;
  background: #FF4A62;
  border-radius: 40px;
  width: 138px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border: none;
}

.main .intro .catg-cont-wrap .catg-content img {
  max-width: 100%;
}

.main .intro .catg-cont-wrap .catg-content:first-child img {
  margin-top: 43px;
}

.main .intro .catg-cont-wrap .catg-content:nth-child(4) img {
  margin-top: -59px;
  margin-bottom: -66px;
}

.main .intro .catg-cont-wrap .catg-content:last-child img {
  margin-top: -166px;
}

.main .intro .catg-menu-wrap {
  background: #002859;
}

.main .intro .catg-menu-wrap .catg-menu {
  margin: 0 auto;
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
}

.main .intro .catg-menu-wrap .catg-menu li {
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

.main .intro .catg-menu-wrap .catg-menu li:not(:first-child)::before {
  position: absolute;
  content: '';
  left: 0;
  height: 40px;
  border-left: 1px solid #1C508E;
}

.main .intro .catg-menu-wrap .catg-menu li:hover {
  background: #0076FF;
}

.main .section {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.main .section .section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.main .section .section-top .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #464646;
}

.main .section .section-top .section-title .ic-more {
  margin-left: 20px;
}

.main .section .section-top .arrow-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .section .img-box {
  width: 307px;
  height: 200px;
  overflow: hidden;
}

.main .section .desc-box > .title {
  margin-top: 30px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.main .section .desc-box .count-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  margin-bottom: 6px;
}

.main .section .desc-box .count-line li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.main .section .desc-box .type-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.main .section .desc-box .type-wrap .btn-type {
  padding: 8px 12px;
  height: 33px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.main .section .desc-box .type-wrap .type2 {
  color: #464646;
  background: #D9D9D9;
}

.main .section .swiper-button-prev, .main .section .swiper-button-next {
  position: initial;
  width: 32px;
  height: 32px;
}

.main .section .swiper-button-prev::after, .main .section .swiper-button-next::after {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E0DFDF;
  color: #9B9C9D;
  font-size: 12px;
  font-weight: bold;
}

.main .section2 {
  margin: 80px 0;
  height: 260px;
  background: #0076FF;
}

.main .section2 .banner-wrap {
  margin: 0 auto;
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section2 .banner-wrap .banner-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  margin-top: 60px;
  color: #fff;
}

.main .section2 .banner-wrap .banner-txt .banner-title {
  margin-bottom: 14px;
  font-size: 35px;
}

.main .section2 .banner-wrap .banner-txt .banner-desc {
  margin-bottom: 28px;
  font-size: 16px;
}

.main .section2 .banner-wrap .banner-txt .banner-shortcut {
  cursor: pointer;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section2 .banner-wrap > img {
  max-width: 100%;
  margin-top: -23px;
}

.main .section3 .section-content {
  margin-bottom: 40px;
}

.list-page .intro {
  background: #003594;
}

.list-page .intro .intro-content {
  height: 500px;
  width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-page .intro .intro-content .catg-desc {
  margin-top: 96px;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.list-page .intro .intro-content .catg-desc .catg-title {
  font-size: 45px;
  line-height: 140%;
  margin-bottom: 12px;
}

.list-page .intro .intro-content .catg-desc .catg-txt1 {
  font-size: 25px;
  line-height: 150%;
  margin-bottom: 14px;
  white-space: nowrap;
}

.list-page .intro .intro-content img {
  max-width: 100%;
  margin-top: 43px;
}

.list-page .grid-box {
  margin-bottom: 50px;
}

.detail-page .detail-top {
  width: 1400px;
  background: #fff;
  height: 400px;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.detail-page .detail-top .thumb-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-page .detail-top .thumb-desc .thumb-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.detail-page .detail-top .thumb-desc .thumb-body .thumb-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #464646;
}

.detail-page .detail-top .thumb-desc .thumb-body .thumb-txt {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #9B9C9D;
}

.detail-page .detail-top .thumb-desc .thumb-body ul.thumb-pword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9B9C9D;
}

.detail-page .detail-top .thumb-desc .thumb-body ul.thumb-pword li {
  padding: 6px 12px;
  border-radius: 30px;
  background: #f3f3f3;
}

.detail-page .detail-top .thumb-desc .thumb-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-page .detail-top .thumb-desc .thumb-bottom .file-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.detail-page .detail-top .thumb-desc .thumb-bottom ul.count-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9B9C9D;
}

.detail-page .detail-top .thumb-desc .thumb-bottom ul.count-line li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-page ul.detail-menu {
  margin: 0 auto;
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.detail-page ul.detail-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  cursor: pointer;
  width: 172px;
  height: 80px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #9B9C9D;
  border-bottom: 2px solid #fff;
}

.detail-page ul.detail-menu li.active {
  color: #464646;
  border-bottom: 2px solid #464646;
}

.detail-page .detail-content-wrap {
  border-top: 1px solid #E0DFDF;
  background: #F3F3F3;
  padding: 30px 0;
}

.detail-page .detail-content-wrap .detail-content {
  padding: 30px;
  display: none;
  width: 1400px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.detail-page .detail-content-wrap .detail-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 {
  background: #fff;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-course-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 180%;
  color: #464646;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-course-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #9B9C9D;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor .img-box {
  width: 500px;
  height: 400px;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor .instructor-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor .instructor-desc .name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor .instructor-desc .grade {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #464646;
}

.detail-page .detail-content-wrap .detail-content#d-mn01 .detail-instructor .instructor-desc .instructor-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #9B9C9D;
}

.detail-page .detail-content-wrap .detail-content#d-mn02 details {
  width: 100%;
  background: #fff;
  padding: 30px;
}

.detail-page .detail-content-wrap .detail-content#d-mn02 details summary .course-top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-page .detail-content-wrap .detail-content#d-mn02 details summary .course-top .course-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.detail-page .detail-content-wrap .detail-content#d-mn02 details summary .course-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #9B9C9D;
}

.detail-page .detail-content-wrap .detail-content#d-mn02 details .table-wrap {
  margin-top: 10px;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 {
  background: #fff;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 textarea {
  width: 100%;
  border: 1px solid #DDDDDD;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .user-name {
  color: #464646;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .comment-txt {
  color: #9B9C9D;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .comment-date {
  color: #C1C1C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .comment-date .ic-trash, .detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .comment-date .ic-edit {
  cursor: pointer;
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .comment-date .btn-recomment {
  cursor: pointer;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .input-recomment {
  padding-top: 10px;
  height: 1px;
  overflow: hidden;
  border-top: 1px solid #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .input-recomment.on {
  height: auto;
  border: none;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .input-recomment .recomment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .input-recomment .recomment-box textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #F3F3F3;
  border: 1px solid #DDDDDD;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .recomment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.detail-page .detail-content-wrap .detail-content#d-mn03 .comment-box .recomment-wrapper .recomment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.detail-page .modal-error {
  width: 400px;
  height: 300px;
  background: #fff;
}

.detail-page .modal-error .modal-body {
  gap: 10px;
}

.detail-page .modal-error .modal-body .error-msg {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9B9C9D;
}

.ready-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  background: #F3F3F3;
}

.ready-player .player-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ready-player .player-wrapper .detail-top {
  width: 100% !important;
}

.ready-player .player-wrapper ul.detail-menu {
  width: 100% !important;
}

.ready-player .player-wrapper .detail-content-wrap {
  width: 100% !important;
}

.ready-player .player-list-wrapper {
  width: 486px;
}
/*# sourceMappingURL=style.css.map */