
// function ********************************
$main-width: 1400px;
// color
$cl_pri: #003594;
$cl_pri_2: #0076FF;
$cl_pri_3: #667D85;
$cl_sec: #FF4A62;
$cl_green: #70AD47;
$cl_blue: #00B0F0;
$cl_purple: #7030A0;
$cl_red: #F30404;
$cl_yel: #FFFF00;

$white: #fff;
$gray_bg: #f3f3f3;
$gray_bd: #DDDDDD;
$gray_txt_1: #C1C1C1;
$gray_txt_2: #9B9C9D;
$gray_txt_3: #464646;

@mixin set-images($name,$cnt) {
  @for $i from 1 to $cnt+1{
    &:nth-child(#{$i}) .img-box {
      background: url(../images/img_#{$name}#{$i}.png);
    }
  }
}
// ***************************************************

//Start Common ************************************************
.wrapper {  
  position: relative;
  width: 100%;  
  text-align: initial;
  textarea {
    border: none;
    resize: none;
    padding: 20px;
  }
  button {
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;  
    border: none;
  }
  .btn-add {
    background: #003594;
  }
  .btn-cancel {
    background: #667D85;
  }
  .modal-container {
    display: none;
    &.show {display: block;}
    position: absolute;
    top: calc(100vh - 50%);
    left: calc(100vw - 50%);
    transform: translate(-50%,-50%);
    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
  
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $gray_txt_3;

      .btn-ic-close {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 26px;
        height: 26px;
      }
      .modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      } 
      .btn-modal-confirm {
        cursor: pointer;
        width: 100%;
        height: 60px;
        background: #003594;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff
      }     
    }
  }
  .quick-menu {
    position: fixed;
    top: 300px;
    right: 100px;
    width: 120px;
    height: 540px;
    z-index: 100;
    background: url(../images/Quick_Menu.png);
    padding-top: 130px;
  
    ul li{
      font-size: 0;
      cursor: pointer;
      &:nth-child(1) {height: 115px;}
      &:nth-child(2) {height: 120px;}
      &:nth-child(3) {height: 100px;}
      &:nth-child(4) {height: 72px;}
    }
  }
  .sort-box {
    position: relative;
    width: 225px;
    margin-bottom: 30px;
    .selected {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      border: 1px solid $gray_bd;
      border-radius: 30px;
      height: 50px;
      background: #fff;
      font-size: 16px;
      font-weight: 500;
      color: $gray_txt_3;    
  
      .ic-arrow {
        content: url(../images/ic_arrow_d.png);
        width: 17px;
        height: 10px;
      }
    }
    ul.optionList {
      position: absolute;
      display: none;
      top: calc(100% + 6px);
      width: 100%;
      background: #fff;
    }
  
    &.open {
      .selected {
        cursor: pointer;
        .ic-arrow {
          content: url(../images/ic_arrow_u.png);
          width: 17px;
          height: 10px;
        }
      }
      ul.optionList {
        display: flex;
        flex-direction: column;      
        align-items: flex-start;      
        border: 1px solid #E0DFDF;      
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;      
        li.optionItem {
          cursor: pointer;
          width: 100%;        
          display: flex;
          align-items: center;
          padding: 0 20px;
          height: 30px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;      
          color: $gray_txt_2;
  
          &.sel {
            &::before {
              content: url(../images/ic_check.png);
              margin-right: 10px;
            }
            background: $gray_bg;          
            color: $gray_txt_3;
          }
        }
      }
    }
  }
  .search-wrap {
    margin: 80px 0;
    .search-box {
      margin: 0 auto;
      width: 800px;
      height: 80px;
      background: $gray_bg;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 50px;
      padding: 0 40px;
      border: 1px solid $gray_bg;      
  
      & > input[type=text]{
        border: none;
        width: 680px;
        &::placeholder {color: $gray_txt_1;}
        font-size: 20px;
        background: transparent;
      }
      .btn-input-delete {        
        display: none;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #F3F3F3;
        border-radius: 40px;
        border: none;
        margin-right: 12px;
      }
    }
    .search-word {      
      width: $main-width;
      margin: 0 auto;
      margin-top: 20px;
      display: none;
      &.on {display: flex;}
      gap: 10px;
      justify-content: center;
      .word-item {
        cursor: pointer;
        width: 104px;
        height: 31px;        
        border: 1px solid $gray_bd;
        border-radius: 30px;      
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $gray_txt_2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .search-result {
      width: $main-width;      
      margin: 80px auto;      
      display: none;
      &.on {display: block;}
      .result-count {
        display: none;
        &.on {display: block;}
        width: 800px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 30px;
        color: $gray_txt_3;
        & > span {color: #F83C4A}
      }
      .no-data {   
        display: none;
        &.on {display: flex;}
        margin: 120px auto;        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $gray_txt_2;
      }
      .result-list {
        display: none;
        margin-top: 80px;
        &.on {display: block;}
        .grid-box {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 50px;
  
          .grid-item {
            cursor: pointer;
            // @include set-images('ready',4);
          }
        }
      }
    }
  }
  .thumnbnail {
    position: relative;
    width: $main-width;
    margin: 0 auto;
  
    .img-box {            
      width: 307px;
      height: 200px;            
      overflow: hidden;            
    }
    .desc-box {
      & > .title {  
        margin-top: 30px; 
        margin-bottom: 6px;        
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $gray_txt_3;
      }
      .count-line {
        display: flex;
        align-items: center;
        gap: 21px;
        margin-bottom: 6px;
        li {display: flex;gap:8px;}
      }
      .type-wrap {
        display: flex;
        gap: 10px;
        .btn-type {              
          padding: 8px 12px;
          height: 33px;
          border-radius: 6px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
        }
        .type2 {                            
          color: $gray_txt_3;
          background: #D9D9D9;
        }
      }
    }  
  } 
  table.aice-table {
    width: 100%;
    thead {
      height: 50px;
      background-color: #F3F3F3;
      font-size: 16px;
      font-weight: 500;      
      color: #464646;
      
      tr {
        th {
          border-top: 1px solid #464646;
          border-bottom: 1px solid #ddd;
          height: 50px;
          vertical-align: middle;        
        }
      }
    }    
  
    tbody {
      tr {
        height: 50px;
        td {
          border-bottom: 1px solid #ddd;
          // padding: 0 15px;
          vertical-align: middle;
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: normal;
          color: #464646;
          background: #fff;
        }
        &.selected td {background: #F3F3F3;}
      }
    }    
  } 
  // pagination
  ul.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;    
    color: #9B9C9D;
  
    li a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 39px;    
      text-decoration: none;
  
      &.active {        
        border-radius: 4px;    
        color: #fff;   
        background:#003594;
      }
    }
  }
  // details summary -- 접였다 펼쳤다 
  details > summary {
    display: flex;
    align-items: center;
    gap: 30px;
    .ic-open-arrow {
      content: url(../images/ic_open_arrow.png);
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  details[open] > summary {  
    .ic-open-arrow {
      content: url(../images/ic_close_arrow.png);
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  // seperator
  .h-seperator {
    height: 1px;
    background: #ddd;  
  }
  // circle progress size-50px
  .circle_progress_wrap {
    position: relative;
    width: 50px;
    height: 50px;
    .circle_progress { transform: rotate(-90deg); }
    .frame, .bar { fill: none; }
    .frame { stroke: #C1C1C1; }
    .bar {
      stroke: #003594;
      stroke-linecap: round;
    }
    .num {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;      
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: #9B9C9D;
      &.on {color: #003594;}
    }
  }
}

// icon
.ic-close {
  content: url(../images/ic_close.png);
  width: 26px;
  height: 26px;
}
.ic-edit {
  content: url(../images/ic_edit.png);
  width: 24px;
  height: 24px;
}
.ic-trash {
  content: url(../images/ic_trash.png);
  width: 24px;
  height: 24px;
}
.ic-delete {
  content: url(../images/ic_delete.png);
  width: 18px;
  height: 18px;
}
.ic-error {
  content: url(../images/ic_error.png);
  width: 64px;
  height: 64px;
}
.ic-search {
  content: url(../images/ic_search.png);
  &.sel {
    content: url(../images/ic_search_s.png);
  }
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.ic-person {
  content: url(../images/ic_person.png);
  width: 14px;
  height: 15px;
}
.ic-heart {
  content: url(../images/ic_heart.png);
  width: 16px;
  height: 15px;
}
.ic-comment {
  content: url(../images/ic_comment.png);
  width: 16px;
  height: 17px;
}
.ic-more {
  content: url(../images/ic_more.png);
  width: 32px;
  height: 32px;
}
.ic-attach {
  content: url(../images/ic_attach.png);
  width: 20px;
  height: 20px;
}
.ic-page-start {
  content: url(../images/ic_page_end_n.png);
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;  
}
.ic-page-prev {
  content: url(../images/ic_page_next_n.png);
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;  
}
.ic-page-next {
  content: url(../images/ic_page_next_n.png);
  transform: rotate(0);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
}
.ic-page-end {
  content: url(../images/ic_page_end_n.png);
  transform: rotate(0);
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
}
.ic-detail-menu1 {
  content: url(../images/ic_detail_menu1_n.png);  
  width: 26px;
  height: 26px;  
  &.active {
    content: url(../images/ic_detail_menu1_s.png);    
  }
}
.ic-detail-menu2 {
  content: url(../images/ic_detail_menu2_n.png);  
  width: 26px;
  height: 26px;  
  &.active {
    content: url(../images/ic_detail_menu2_s.png);    
  }
}
.ic-detail-menu3 {
  content: url(../images/ic_detail_menu3_n.png);  
  width: 26px;
  height: 26px;  
  &.active {
    content: url(../images/ic_detail_menu3_s.png);    
  }
}
.ic-recomment {
  content: url(../images/ic_recomment.png);  
  width: 26px;
  height: 26px;  
}
// image
.img-banner {
  content: url(../images/section2.png);
  width: 657px;
  height: 283px;
}
// color
.bg-green {background: $cl_green;}
.bg-blue {background: $cl_blue;}
.bg-purple {background: $cl_purple;}
.bg-red {background: $cl_red;}
.bg-yel {background: $cl_yel;}
.cl-gray3 {color: $gray_txt_3 !important;}
//End Common *****************************************************

// Style ********************************************************
// main 
.main {
  .intro {
    .catg-cont-wrap {
      background: #003594;
      .catg-content {
        height: 500px;
        width: $main-width;
        margin: 0 auto;
        display: none;
        &.active {display: flex;  }      
        justify-content: space-between;  
        .catg-desc {
          margin-top: 96px;
          font-weight: 600;
          color: #FFFFFF;
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          .catg-title {
            font-size: 45px;
            line-height: 140%;
            margin-bottom: 12px;
          }
          .catg-txt1 {
            font-size: 25px;
            line-height: 150%;
            margin-bottom: 14px;
            white-space: nowrap;
          }
          .catg-txt2 {
            font-size: 16px;
            line-height: 160%;
            margin-bottom: 20px;
          }
          .btn-more {
            font-size: 20px;
            background: #FF4A62;
            border-radius: 40px;
            width: 138px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border: none;
          }
        }
        img {max-width: 100%;}    
        &:first-child img {margin-top: 43px;}
        &:nth-child(4) img {margin-top: -59px;margin-bottom: -66px;}
        &:last-child img {margin-top: -166px;}    
      }
    }
    .catg-menu-wrap {
      background: #002859;
      .catg-menu {
        margin: 0 auto;
        width: $main-width;
        display: flex;
        align-items: center;
        height: 80px;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        color: #FFFFFF;
        li {
          cursor: pointer;
          position: relative;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          &:not(:first-child)::before {
            position: absolute;
            content: '';
            left: 0;
            height: 40px;
            border-left: 1px solid #1C508E;
          }
          &:hover {
            background: #0076FF;
          }
        }
      }
    }    
  }

  .section {
    position: relative;
    width: $main-width;
    margin: 0 auto;

    .section-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;      
      .section-title {     
        display: flex; 
        align-items: flex-end;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: $gray_txt_3;

        .ic-more {margin-left: 20px;}
      }
      .arrow-group {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
    .img-box {            
      width: 307px;
      height: 200px;            
      overflow: hidden;            
    }
    .desc-box {
      & > .title {  
        margin-top: 30px; 
        margin-bottom: 6px;        
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $gray_txt_3;
      }
      .count-line {
        display: flex;
        align-items: center;
        gap: 21px;
        margin-bottom: 6px;
        li {display: flex;gap:8px;}
      }
      .type-wrap {
        display: flex;
        gap: 10px;
        .btn-type {              
          padding: 8px 12px;
          height: 33px;
          border-radius: 6px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
        }
        .type2 {                            
          color: $gray_txt_3;
          background: #D9D9D9;
        }
      }
    }
    .swiper-button-prev,.swiper-button-next {
      position: initial;
      width: 32px;
      height: 32px;
      &::after {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E0DFDF;
        color: $gray_txt_2;        
        font-size: 12px;
        font-weight: bold;
        
      }
    }      
  }  

  .section2 {
    margin: 80px 0;
    height: 260px;
    background: #0076FF;
    .banner-wrap {
      margin: 0 auto;
      width: $main-width;
      display: flex;
      justify-content: space-between;
      .banner-txt {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        margin-top: 60px;
        color: #fff;
        .banner-title {
          margin-bottom: 14px;
          font-size: 35px;
        }
        .banner-desc {
          margin-bottom: 28px;
          font-size: 16px;
        }
        .banner-shortcut {
          cursor: pointer;
          font-size: 20px;
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
      & > img {max-width: 100%;margin-top: -23px;}   
    }
  }
  .section3 {
    .section-content {      
      margin-bottom: 40px;      
    }    
  }
}
// thumbnail list page
.list-page {
  .intro {
    background: #003594;
    .intro-content {
      height: 500px;
      width: $main-width;
      margin: 0 auto;      
      display: flex;
      justify-content: space-between;  
      .catg-desc {
        margin-top: 96px;
        font-weight: 600;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        .catg-title {
          font-size: 45px;
          line-height: 140%;
          margin-bottom: 12px;
        }
        .catg-txt1 {
          font-size: 25px;
          line-height: 150%;
          margin-bottom: 14px;
          white-space: nowrap;
        }
      }
      img {max-width: 100%;margin-top: 43px;}          
    }    
  }
  .grid-box {margin-bottom: 50px;}
}
// 상세 page
.detail-page {
  .detail-top {
    width: $main-width;
    background: #fff;
    height: 400px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    gap: 30px;
    .thumb-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .thumb-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .thumb-title {         
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          color: $gray_txt_3;
        }
        .thumb-txt {        
          font-weight: 500;
          font-size: 25px;
          line-height: 30px;
          color: $gray_txt_2;
        }
        ul.thumb-pword {   
          display: flex;  
          gap: 10px;     
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $gray_txt_2;
          li {
            padding: 6px 12px;
            border-radius: 30px;
            background: #f3f3f3;
          }
        }
      }
      .thumb-bottom {
        display: flex;
        justify-content: space-between;
        .file-size {
          display: flex;
          gap: 6px;
          align-items: center;         
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $gray_txt_3;
        }
        ul.count-line {
          display: flex;
          gap: 20px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $gray_txt_2;
          li {display: flex;gap: 6px; align-items: center;}
        }
      }
    }
  }
  ul.detail-menu {
    margin: 0 auto;
    width: $main-width;
    display: flex;
    gap: 80px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      width: 172px;
      height: 80px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $gray_txt_2;
      border-bottom: 2px solid #fff;            
      &.active {
        color:$gray_txt_3;
        border-bottom: 2px solid $gray_txt_3;      
      }

    }
  }
  .detail-content-wrap {
    border-top: 1px solid #E0DFDF;
    background: #F3F3F3;
    padding: 30px 0;
    .detail-content {  
      padding: 30px;       
      display: none;
      width: $main-width;
      margin: 0 auto;
      &.active {display: flex;}
      flex-direction: column;
        gap: 30px;
      &#d-mn01 {
        background: #fff;        
        .detail-course-title {
          font-weight: 600;
          font-size: 25px;
          line-height: 180%;
          color: $gray_txt_3;
        }
        .detail-course-txt {        
          font-weight: 500;
          font-size: 20px;
          line-height: 180%;
          color: $gray_txt_2;
        }
        .detail-instructor-title {        
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: $gray_txt_3;
        }
        .detail-instructor {
          display: flex;
          justify-content: space-between;
          gap: 30px;
          .img-box {
            width: 500px;
            height: 400px;
          }
          .instructor-desc {
            display: flex;
            flex-direction: column;
            gap: 30px;
            .name {            
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: $gray_txt_3;
            }
            .grade {            
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              color: $gray_txt_3;
            }
            .instructor-txt {            
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              color: $gray_txt_2;
            }
          }
        }
      }
      &#d-mn02 {        
        details {  
          width: 100%;        
          background: #fff;
          padding: 30px;
          summary {            
            .course-top {
              flex: 1;
              display: flex;
              justify-content: space-between;
              .course-title {
                display: flex;
                align-items: center;
                flex: 1;
                gap: 20px;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #464646;
              }
            }
            .course-time {
              display: flex;
              align-items: center;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              color: #9B9C9D;
            }
          }
          .table-wrap {margin-top: 10px;}
        }
      }
      &#d-mn03 {
        background: #fff;   
        textarea {
          width: 100%;
          border: 1px solid #DDDDDD;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }  
        .btn-group {
          width: 100%;
          display: flex;
          gap: 10px;
          margin-top: 10px;
          justify-content: flex-end;
        }   
        .input-comment {
          
        }
        .comment-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          .user-name {color: #464646;}
          .comment-txt {color: #9B9C9D;}
          .comment-date {
            color: #C1C1C1;
            display: flex;
            gap: 10px;
            padding-bottom: 10px;
            // border-bottom: 1px solid #DDDDDD;
            .ic-trash,.ic-edit {
              cursor: pointer;
              width: 18px;
              height: 18px;
              opacity: 0.5;
            }
            .btn-recomment {cursor: pointer;}
          }          
          .input-recomment {
            // display: none;
            // &.on {display: flex;margin-top: -1px;}    
            padding-top: 10px;        
            height: 1px;
            overflow: hidden;
            border-top: 1px solid #DDDDDD;
            &.on {height: auto;border: none;}
            display: flex;
            flex-direction: column;            
            .recomment-box {
              display: flex;
              gap: 10px;
              textarea {flex: 1;background: #F3F3F3;border: 1px solid #DDDDDD;}
            }            
          }
          .recomment-wrapper {
            display: flex;   
            gap: 10px;         
            .recomment-box {
              display: flex;  
              flex-direction: column;            
              gap: 10px;              
            }   
          }
        }
      }      
    }
  }

  .modal-error {
    width: 400px;
    height: 300px;
    
    background: #fff;

    .modal-body {
      gap: 10px;
      .error-msg {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $gray_txt_2;
      }
    }
  }
}

.ready-player {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background: #F3F3F3;
  .player-wrapper {
    flex: 1;
    .detail-top{
      width: 100% !important;
    }
    ul.detail-menu {
      width: 100% !important;
    }
    .detail-content-wrap {
      width: 100% !important;
    }
  }
  .player-list-wrapper {
    width: 486px;
  }
}




